<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}主页 - 序列比对系统{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">欢迎来到序列比对系统</h1>
        {% if user.is_authenticated %}
            <p class="lead">您好，<strong>{{ user.username }}</strong>！</p>
            <hr class="my-4">
            <p>使用系统提供的功能进行生物序列的比对和分析。</p>
            <a class="btn btn-primary btn-lg" href="{% url 'upload_sequence' %}" role="button">上传序列</a>
            <a class="btn btn-secondary btn-lg" href="{% url 'genome_browser' %}" role="button">基因浏览器</a>
        {% else %}
            <p class="lead">请先登录或注册以使用系统功能。</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">登录</a>
            <a class="btn btn-secondary btn-lg" href="{% url 'register' %}" role="button">注册</a>
        {% endif %}
    </div>
{% endblock %}
