<!-- templates/accounts/upload_sequence.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}上传序列 - 序列比对系统{% endblock %}

{% block content %}
    <h1 class="mb-4">上传序列</h1>
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">上传</button>
            </form>
        </div>
    </div>
{% endblock %}
